{% extends "base.html" %}
{% block content %}

<div class="container mt-4">
    <h3 class="card-title">History</h3>
    {%for i in data%}
    <div class="card">
        <div class="card-body">
            <p class="card-title"><i>Model ID: </i>{{i[0]}}</h5>
            <h5 class="card-title"><i>Input Data: </i> <a href="/download?model_id={{i[0]}}&data=input">{{i[1]}}</a></h5>
            <h5 class="card-title"><i>Output Data: </i><a href="/download?model_id={{i[0]}}&data=output">{{i[2]}}</a></h5>
            <h5 class="card-title"><i>Model File: </i><a href="/download?model_id={{i[0]}}&data=model">{{i[3]}}</a></h5>
            <h5 class="card-title"><i>Model Type: </i>{{i[4]}}</h5>
            <h5 class="card-title"><i>Algorithm: </i>{{i[5]}}</h5>
        </div>
    </div>
    <br><br>
    {%endfor%}
</div>

{% endblock%}