<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auto ML</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="nav-block-login">
        <div class="logo">
            A Platform for Automatic ML Model Training
        </div>
    </div>
    <div class="container">
        <div class="login">
            <div>
                <h2 class="center">Login</h2>
    <div id="" class="form-text text-center" style="color:red;">{{invalid_user}}</div>
                <form action="{{url_for('login')}}" method="post">
                    <div class="">
                        <input type="text" class="login-input" id="username" name="username" placeholder="Username"
                            required>
                        <input type="password" class="login-input" id="password" name="password" placeholder="Password"
                            required>
                    </div>
                    <div class="center">
                        <button type="submit" class="start-training-btn">Login <i class="fa fa-sign-in"
                                aria-hidden="true"></i></button>
                    </div>
                    <div class="center newuser-signup">
                        <a href="{{url_for('signup')}}">Not a User? Sign Up <i class="fa fa-user-plus"
                                aria-hidden="true"></i></a>
                    </div>
                    {%if msg2%}
                    <div id="" class="form-text text-center" style="color:rgb(0, 82, 7);">Account created succesfully</div>
                    {%endif%}
                </form>

            </div>

            <!-- <div class="line"></div> -->
            <div class="instructions login-instructions">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores ab qui sapiente eum voluptas odio
                distinctio quidem reiciendis in dolor cum mollitia possimus ipsa nesciunt natus vel enim, neque ad
                accusamus excepturi aliquid tempore aliquam esse temporibus. Laboriosam itaque pariatur minima quam
                rerum nesciunt fugit qui omnis, blanditiis quasi quisquam, minus quis in, quod dignissimos distinctio
                vero esse ullam eos soluta veniam expedita incidunt error nam! Nemo quisquam qui minus sint nisi ad
                temporibus obcaecati quis, recusandae at tenetur nesciunt saepe vel laborum accusamus, asperiores, quae
                quibusdam beatae provident quos sunt! Earum facere laudantium porro soluta ratione impedit alias vitae
                accusantium, autem ab excepturi expedita! Nihil nesciunt provident soluta dolore dolores dolor, non
                facere quo delectus, impedit sit animi repellat eius ipsa incidunt dolorum expedita culpa voluptas omnis
                voluptates veritatis beatae quibusdam natus. Tenetur aperiam a nisi quam harum? Accusamus veniam, iusto
                mollitia dolor cumque quas veritatis voluptatibus saepe obcaecati officia rerum dicta quibusdam
                voluptatem aut dignissimos ad, a voluptatum architecto exercitationem labore vitae. Consectetur enim
                eius, vel tempora ea porro excepturi vero quas provident nemo culpa obcaecati omnis veritatis. Alias,
                tempora cupiditate reprehenderit assumenda facere nisi iure cumque, doloribus quod dolores temporibus
                ullam molestias non inventore. At, iste molestias?
            </div>
        </div>
    </div>

</body>

</html>