{% extends "base.html" %}
{% block content %}

<div class="container">

    <div id="loader">
    </div>

    <div class="mt-4">
        <h1>Upload the Input and Output Data</h1>
        <form action="/upload?type=regression" method="post" enctype="multipart/form-data">
            <input type="file" name="inputs" id="">
            <input type="file" name="outputs" id="">
            <button class="btn btn-dark" type="submit" onclick="loading();">Upload</button>
        </form>

        {%if toast=="success"%}
        <div class="alert alert-success mt-4" role="alert">
            <h3>Data uploaded successfully</h3>
        </div>
        {% endif %}
        {% if classes %}

        <div class="mt-4">
            <h3>Below classes found:</h3>
            <ol>
                <li>{{classes}}</li>
            </ol>
            <form method="post" action="/train?model_id={{model_id}}&model_type={{model_type}}">
                <div class="form-group">
                  <label for="formGroupExampleInput">Example label</label>
                  <select class="form-control" name="model">
                    <option value="linear_reg">Linear Regression</option>
                    <option value="decision_tree_reg">Decision Tree Regressor</option>
                    <option value="random_forest_reg">Random Forest Regressor</option>
                    <option value="svm_reg">SVM Regressor</option>
                    <option value="knn_reg">KNN Regressor</option>
                  </select>
                  <button type="submit" class="btn btn-primary">Start Training</button>
                </div>
            </form>
        </div>
        {% endif %}
    </div>


    <div class="mt-4">
        <a href="/testimage"><button type="button" class="btn btn-secondary">Test Model</button></a>
    </div>
</div>
<script type="text/javascript">
    function loading() {
        $("#loader").show();
        $("#content").hide();
    }
</script>

{%endblock%}