{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="data-upload">
        <div class="try-model-container">
            <div class="container">
                <h2>Try Model</h2>
                <form action="/try_model?model_id={{model_id}}" method="post">
        {%for i in inputs_data%}
                    <label for="{{i}}" class="try-model-label">{{i}}</label>
                    <input type="text" class="try-model-input" name="{{i}}" placeholder="{{i}}">
                    {%endfor%}
                    <button type="submit" class="create-project-btn">Predict</button>
                </form>

            </div>
        </div>

        <div class="line"></div>
        <div class="instructions">
            <div class="col">
                {% if encodings %}
                <h4>Intructions: </h4>
                {% for param in encodings %}
                    <h5>{{param[0]}} : </h5>
                    {% for key, value in param[1].items() %}
                    <h6>{{key}} : {{value}}</h6>  <br>
                 {% endfor %}
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>



{% endblock%}